<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.3.1/build/reset/reset-min.css">
    <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.3.0/build/base/base-min.css">
    <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.3.1/build/fonts/fonts-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>